<!-- <div>
    <div>
        <h2>Angular component creation for post page</h2>
    </div>
    <div>
        <div id="title">
          <p> Robotics</p> 
        </div>
        <div>
            <div>
                <p id="author"> author      {{author}}</p>
                <p class="postedDate">Posted Date       {{postedDate}}</p>
                <p class="category">Category        {{category}}</p>
                <p class="likes">likes      {{likes}}</p>
            </div>
            <div>
                <img src="./assets/images/index.jpeg" alt="images" id="img">
            </div>
        </div>
    </div>
</div>

<app-blog></app-blog> -->
<app-product-details></app-product-details>