<!-- <div>
    <div>
        <h2>Angular component creation for post page</h2>
    </div>
    <div>
        <div id="title">
          <p> Robotics</p> 
        </div>
        <div>
            <div>
                <p id="author"> author      {{author}}</p>
                <p class="postedDate">Posted Date       {{postedDate}}</p>
                <p class="category">Category        {{category}}</p>
                <p class="likes">likes      {{likes}}</p>
            </div>
            <div>
                <img src="./assets/images/index.jpeg" alt="images" id="img">
            </div>
        </div>
    </div>
</div>

<app-blog></app-blog> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-profile></app-profile> -->


<!-- <div>
    <table id="userList">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userDetail">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.data?.question || ''}}</td>
                <td>{{user.data?.answer || ''}}</td>
            </tr>
        </tbody>

    </table>
</div> -->
<app-user></app-user>