#question1 {
    background-color: rgb(205, 182, 240);
}
#answer1 {
    background-color: rgb(241, 237, 188);
}

#question2 {
    background-color: rgb(205, 182, 240);
}
#answer2 {
    background-color: rgb(241, 237, 188);
}

#question3 {
    background-color:rgb(205, 182, 240);
}
#answer3 {
    background-color: rgb(241, 237, 188);
}

#question4 {
    background-color: rgb(205, 182, 240);
}
#answer4 {
    background-color: rgb(241, 237, 188);
}

#question5 {
    background-color: rgb(205, 182, 240);
}
#answer5 {
    background-color: rgb(241, 237, 188);
}
